/build/
RepEasyDesktop/.vs/
RepEasyDesktop/RepEasyDesktop/obj/
RepEasyDesktop/RepEasyDesktop/bin/
Logo/
RepEasyDesktop/packages/
RepEasyDesktop/RepEasyDatabase/
RepEasyDesktop/RepEasyDesktop/App.config
RepEasyDesktop/RepEasyDesktop/RepEasyDesktop.csproj.user
