/build/
RepEasyDesktop/.vs/
RepEasyDesktop/RepEasyDesktop/obj/
RepEasyDesktop/RepEasyDesktop/bin/
RepEasyDesktop/packages/
RepEasyDesktop/UpgradeLog.htm
RepEasyDesktop/RepEasyDatabase/RepEasyDatabase.sqlproj.user
RepEasyDesktop/RepEasyDatabase/obj/Debug/RepEasyDatabase.sqlprojAssemblyReference.cache
