/build/
RepEasyDesktop/.vs/
RepEasyDesktop/RepEasyDesktop/obj/
RepEasyDesktop/RepEasyDesktop/bin/
RepEasyDesktop/packages/
RepEasyDesktop/RepEasyDatabase/bin/
RepEasyDesktop/RepEasyDatabase/obj/
.vs/
RepEasyDesktop/RepEasyDatabase/RepEasyDatabase.jfm
RepEasyDesktop/RepEasyDatabase/RepEasyDatabase.dbmdl
